@media screen and (max-width: 1210px) {
    .index-div{
        display: none;
    }
}

.index-div-next{
    display: none;
}

.index-div{
    border-radius: 10px;
}

#fastSearch {
    visibility: hidden;
    position: absolute;
    left: 10px;
    top: 10px;
    display: inline-block;
    width: 320px;
    margin: 0 10px 0 0;
    padding: 0;
  }

#fastSearch input {
    background-color: transparent;
    color: inherit;
    border-radius: .5em;
    border: none;
    padding-left: 2em;
    width: 60%;
    padding: .5rem .75rem;
    background: 0 0;
    font-size: 1rem;
    border: 0;
    border-radius: 0;
    border: 1px solid #e5e5e5;
}


#searchResults li {
    list-style: none;
    margin-left: 0em;
    background-color: #333;
    border-bottom: 1px dotted #000;
  }

#searchResults li .title {
    font-size: 1.1em;
    margin: 0;
    display: inline-block;
  }

#searchResults {
    visibility: inherit;
    display: inline-block;
    width: 320px;
    margin: 0;
    max-height: calc(100vh - 120px);
    overflow: hidden;
  }

#searchResults a {
    text-decoration: none !important;
    padding: 10px;
    display: inline-block;
    width: 100%;
  }

#searchResults a:hover, #searchResults a:focus {
    outline: 0;
    background-color: #666;
    color: #fff;
  }

#search-btn {
    position: absolute;
    top: 10px;
    left: 100px;
    font-size: 24px;
  }


.highlight .ln {
    width: 20px;
    display: block;
    float: left;
    text-align: right;
    user-select: none;
    padding-right: 8px;
    color: #ccc;
}

.highlight {
    position: relative;
}

.highlight pre {
    padding-right: 75px;
    background-color:#f8f8f8 !important;
}

.highlight-copy-btn {
    position: absolute;
    bottom: 7px;
    right: 7px;
    border: 0;
    border-radius: 4px;
    padding: 1px;
    font-size: 0.8em;
    line-height: 1.8;
    color: #fff;
    background-color: #777;
    min-width: 55px;
    text-align: center;
}

.highlight-copy-btn:hover {
    background-color: #666;
}
